footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  footer nav ul{
    display: flex;
    flex-direction: column;
    float: left;
  }